<div class="footer">
    <!-- <hr> -->
    <div class="content">
        <div>
            <a mat-icon-button class="github-icon-button" aria-label="..." href="https://github.com/second-slip"
                target="_blank">
                <img ngSrc=".\assets\github-mark.png" width="48" height="48" alt="GitHub icon" />
            </a>
            <a mat-icon-button class="linkedin-icon-button" aria-label="..."
                href="https://linkedin.com/in/andrewstuartcross/" target="_blank">
                <img ngSrc=".\assets\linkedIn_logo_initials.png" width="48" height="48" alt="LinkedIn icon"/>
            </a>
        </div>
        <small class="footer-message">{{message()}}</small>
    </div>
</div>