<div class="footer">
    <hr>
    <div class="content">
        <div>
            <a mat-icon-button class="github-icon-button" aria-label="..." href="https://github.com/second-slip"
                target="_blank">
                <img src=".\assets\github-mark.png" alt="GitHub icon" />
            </a>
            <a mat-icon-button class="linkedin-icon-button" aria-label="..."
                href="https://linkedin.com/in/andrewstuartcross/" target="_blank">
                <img src=".\assets\linkedIn_logo_initials.png" alt="LinkedIn icon"/>
            </a>
        </div>
        <small>{{message()}}</small>
    </div>
</div>