<br>
<h3>Contact form</h3>

<p>Complete and then submit this form to send a message to me.</p>

@if (submitProgress() !== 'success') {
<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="full-width" id="name">
    <mat-label>Name</mat-label>
    <input matInput id="name" name="name" type="text" formControlName="name">
    @if (contactForm.get('name')?.hasError('required')) {
    <mat-error class="validation-required-name">
      Name is <strong>required</strong>
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width" id="email">
    <mat-label>Email</mat-label>
    <input matInput id="email" name="email" type="email" placeholder="Must be a valid email" formControlName="email">
    @if (contactForm.get('email')?.hasError('required')) {
    <mat-error class="validation-required-email">
      Email is <strong>required</strong>
    </mat-error>
    }
    @if (contactForm.get('email')?.hasError('email')) {
    <mat-error class="validation-email-email">
      The email is <strong>not valid</strong>
    </mat-error>
    }
  </mat-form-field>

  <p>
    <mat-form-field class="full-width" id="message">
      <mat-label>Message</mat-label>
      <textarea matInput id="message" name="message" type="textarea" formControlName="message"></textarea>
      @if (contactForm.get('message')?.hasError('required')) {
      <mat-error class="validation-required-message">
        Message is <strong>required</strong>
      </mat-error>
      }
      @if (contactForm.get('message')?.hasError('minlength')) {
      <mat-error class="validation-length-message">
        The message is <strong>too short</strong>
      </mat-error>
      }
    </mat-form-field>
  </p>

  <!-- todo: fix the button location -- too far -->
  @if (!requesting()) {
  <button mat-stroked-button class="form-submit-btn" color="primary" type="submit"
    [disabled]="!contactForm.valid">Submit</button>
  }
  @if (requesting()) {
  <button mat-stroked-button class="form-submit-btn" type="button" disabled>
    Submitting the message...
    <mat-icon><mat-spinner diameter="15">
      </mat-spinner></mat-icon>
  </button>
  }

</form>
}

<!-- <pre>Form value: {{contactForm.value | json}}</pre>
  <pre>Form status: {{contactForm.status | json}}</pre>
  <pre>Submit Progress: {{submitProgress}} </pre> -->

@if (submitProgress() === 'success') {
<p class="alert alert-success">
  <strong>Success!</strong> The message was successfully sent.
</p>
}

@if (submitProgress() === 'error') {
<p class="alert alert-danger">
  <strong>Whoops!</strong> An error occurred. Please try submitting the form again.
  <br>If the problem persists, try to contact me at <a href="https://www.linkedin.com/in/andrewstuartcross/"
    target="_blank"><img class="text-icons" src=".\assets\linkedIn_logo_initials.png" alt="LinkedIn icon" />
    LinkedIn</a>.
</p>
}