<mat-toolbar>
    <mat-toolbar-row class="large">
        <div>
            <span>andrew-stuart-cross.com</span>
        </div>
        <span class="example-spacer"></span>
        <div>
            <a mat-button>Basic</a>
            <a mat-button>Basic</a>
            <a mat-button>About</a>
        </div>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <!-- <span>andrew-stuart-cross.com</span> -->

        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
        <!-- <a mat-button>Basic</a>
        <a mat-button>Basic</a>
        <a mat-button>About</a> -->

        <!-- <button [style.cursor]="'pointer'" routerLink="/">MyAppName</button>
        <a [style.cursor]="'pointer'" routerLink="/">MyAppName</a> -->

    </mat-toolbar-row>
    <mat-toolbar-row class="small">
        <div>
            <span>andrew-stuart-cross.com</span>
        </div>

        <div>
            <a mat-button class="hello">Basic</a>
            <a mat-button class="hello">Basic</a>
            <a mat-button class="hello">About</a>
        </div>

    </mat-toolbar-row>
</mat-toolbar>



<!-- <nav class="nav">
    <div class="nav-container">
      <a href="/">
        <h2 class="nav-title">ochzhen.com</h2>
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Posts</a></li>
        <li><a href="/tags">Topics</a></li>
         <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav> -->
