mat-toolbar {
    min-height: 80px;
    height: 80px;
}

.nav-menu {
    display: flex;
    position: fixed;
    padding: 0% 20%;
    z-index: 9999;
    top: 0;
}

.example-spacer {
    flex: 1 1 auto;
}

.title-button {
    font-weight: bold;
    font-size: medium;
}

.action-buttons, .github-icon-button {
    display: flex;
    align-items: center;
}

.activebutton {
    // background-color: rgb(51, 51, 51);
    // color: white;
    text-decoration: underline;
}



@media only screen and (max-width: 768px) {
    .nav-menu {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3% 0%;
    }

    .action-button {
        width: 23px;
        height: 23px;
        line-height: 23px;
        min-height: 23px;
        vertical-align: top;
        font-size: 13px;
        padding: 0 0;
        margin: 0;
    }

    .github-icon-button {
        display: none;
    }

    .full {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
    .abridge {
        display: none;
    }
}
