<mat-toolbar class="nav-menu">
    <div>
        <a mat-button routerLink="/" class="title-button"
            aria-label="Title button with link to home page">andrew-stuart-cross.com</a>
    </div>
    <!-- <div>
            <a [style.cursor]="'pointer'" routerLink="/">andrew-stuart-cross.com</a>
        </div> -->
    <span class="example-spacer"></span>

    <div>
        <a mat-button class="action-button" aria-label="...">Basic</a>
        <a mat-button class="action-button" aria-label="...">Basic</a>
        <a mat-button class="action-button" aria-label="...">About</a>
    </div>
</mat-toolbar>