.nav-menu {
    display: flex;
    position: fixed;
    padding: 0% 20%;
}

.example-spacer {
    flex: 1 1 auto;
}

.title-button {
    font-weight: bold;
    font-size: medium;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        padding: 10% 0%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .action-button {
        width: 23px;
        height: 23px;
        line-height: 23px;
        min-height: 23px;
        vertical-align: top;
        font-size: 13px;
        padding: 0 0;
        margin: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
}
