/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.router-outlet {
    padding: 0% 20%;
}

.router-outlet {
    padding-top: 120px;
    // padding-left: 20%;
    // padding-right: 20%;
}

.page-heading-one {
    // color: blueviolet;
    text-align: center;
}

// obsviously change this...
p {
    text-align: justify;
}
