@use "@angular/material" as mat;

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: #eff291
        // see mat-toolbar documentation for full list of tokens,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 100px;
}

/* Small devices (up to 768px) */
@media only screen and (max-width: 768px) {
  .router-outlet {
    padding: 0% 8%;
  }

  .footer {
    padding: 0% 8%;
    margin: 3% 0%;
  }
}

/* Larger devices (769px and up) */
@media only screen and (min-width: 769px) {
  .router-outlet {
    padding: 0% 20%;
  }

  .footer {
    padding: 0% 20%;
    margin: 3% 0%;
  }
}

.text-icons {
  display: inline-block;
  height: 1em;
  width: auto;
  transform: translate(0, 0.1em);
}

.centre {
  text-align: center;
}

section {
  margin-top: 3%;
}

p {
  text-align: justify;
}

.italic {
  font-style: italic;
}

li {
  //:not(:last-child) {
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.alert {
  padding: 3%;
  color: black;
  font-size: larger;
}

.strong-title {
  padding-right: 1%;
}

.alert-danger {
  background-color: #f44336;
}

.alert-success {
  background-color: #77ff33;
}

.alert-info {
  background-color: #0bc9cd; // 'Robin egg blue'
}
