/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 100px;
}

.router-outlet {
    padding: 0% 20%;
}

.page-main-heading {
    text-align: center;
}

// obsviously change this...
p {
    text-align: justify;
}

.alert {
    padding: 3%;
    color: white;
}
.alert-danger {
    background-color: #f44336;
}
.alert-success {
    background-color: #f44336;
}
.alert-info {
    background-color: #f44336;
}
