<h1 class="page-main-heading">Hello there</h1>

<P>
  Welcome to my personal website.  This site is very much in development.  It is my intention to write about the new things I encounter in software development.
</P>

<P>
  The pages that are ready are:
</P>

<ul>
  <li class="item"><a routerLink="about">About</a> &mdash; this contains information about me and how you can contact me.</li>
  <li class="item"><a routerLink="blog">Blog</a> &mdash; this is where I am <span class="italic">planning</span> to write about software development matters that I'm interested in.</li>
</ul>

<p>
  Thank you for visiting! I hope to add more content soon.
</p>