<section>
  <h1 class="mat-headline-3 centre">Hello there.</h1>
</section>

<section>
  <P>
    Welcome to my website. It is the intention to write about the new things I
    come across in software development.
  </P>
</section>

<section>
  <p>This website has three pages:</p>

  <ul>
    <li>
      <a routerLink="about">About</a> &mdash; this contains information about me
      and how you can contact me;
    </li>
    <li>
      <a routerLink="code">Code</a> &mdash; this is where I am
      <span class="italic">planning</span> to write on software development
      matters; and
    </li>
    <li>
      <a routerLink="miscellany">Miscellany</a> &mdash; this is where I am
      <span class="italic">planning</span> to write on everything else that
      interests me.
    </li>
  </ul>
</section>

<section>
  <p>Thank you for visiting. I hope to add more content soon.</p>
</section>
