# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master", "working" ]
  pull_request:
    branches: [ "master", "working" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i -g cli-real-favicon
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
    
    - name: Check favicon is up-to-date
      run: real-favicon check-for-update --fail-on-update faviconData.json
